.App {
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  position: absolute;
  background-image: url('./images/bricks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

button {
  color: rgb(77, 77, 77);
  background-color: rgb(64, 224, 208);
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  border: 0px;
  outline: 0px;
}

button:hover {
  color: rgb(64, 224, 208);
  background-color: rgb(77, 77, 77);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5% 0% 5%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(64, 224, 208);
}

.navbarItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbarItem h5{
  margin-right: 10px;
}

.navbarItem img {
  margin-right: 10px;
}

#footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(217, 217, 217);
}

#userContainer {
  display: flex;
  position: absolute;
  justify-content: space-around;
  height: 78%;
  width: 100%;
  margin: 2% 0% 2% 0%;
}

#userSidebar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 20%;
  height: 100%;
  text-align: center;
}

#userEventsList {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.eventList {
  color: rgb(64, 224, 208);
}

.eventList h2 {
  margin-bottom: 0px;
}

.eventList ul {
  background-color: rgb(217, 217, 217);
  border: 2px solid rgba(0, 0, 0, 0.6);
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  height: 55%;
  overflow: scroll;
}

.eventList li {
  color: rgb(92, 92, 92);
  padding: 2px 5px 2px 5px;
}

.eventList li:hover{
  background-color: rgb(64, 224, 208);
}

.eventList li:before {
  content: '✓';
}

#upcomingEvents {
  display: inline-block;
  justify-content: center;
  width: 80%;
  height: 100%;
}

#upcomingEvents h3 {
  color: rgb(64, 224, 208);
  border: 2px solid rgb(64, 224, 208);
  margin: 2%;
}

.eventItem {
  color: rgb(217, 217, 217);
}

#userDetailContainer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
}

.otherUsers {
  display: inline-block;
  justify-content: center;
  width: 75%;
  background-color: rgb(217, 217, 217);
  border: 2px solid rgb(77, 77, 77);
}

#otherUsersTwo {
  display: inline-block;
  justify-content: center;
  width: 75%;
  background-color: rgb(217, 217, 217);
  border: 2px solid rgb(77, 77, 77);
}

.friendDashboardList {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 2% 2% 2% 2%;
}

.friendDashboardListImg {
  margin-right: 5%;
}

.friendDashboardStatus {
  display: inline;
  text-align: center;
}

.friendDashboardStatus h5 {
  margin: 0px;
  padding-bottom: 0px;
}

#login {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 7%;
  color: rgb(64, 224, 208);
}

#login h1 {
  margin-top: 2%;
}

#loginForm {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5%;
}

.loginInput {
  width: 35%;
}

.signupInput {
  width: 13%;
}

#login button {
  margin-top: 1%;
}

#signup {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    height: 7%;
    color: rgb(217, 217, 217);
}

#signup h1 {
  margin-top: 1%;
}

#userOptionsContainer {
  display: flex;
  justify-content: space-around;
}

#friendDashboard {
  height: 600px;
  width: 100%;
  text-align: center;
}

#friendDashboard h3 {
  margin-bottom: 0px;
  padding-bottom: 0px
}

#userFriendsTop {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  color: rgb(64, 224, 208);
  vertical-align: middle;
}

#bubbleChart {
  width: 50%;
}

#selectedFriendContainer {
  width: 50%;
}

#selectedFriend {
  display: flex;
  justify-content: center;
}

#selectedFriendImage{
  width: 100px;
  height: 100px;
}

#selectedFriendImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#selectedFriendDetails {
  color: rgb(64, 224, 208);
  margin-left: 2%;
}

#preSelectedFriend h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#preSelectedFriend h4 {
  padding-top: 0px;
  margin-top:0px;
}

#selectedFriendDetails h4 {
  padding-bottom: 0px;
  margin-bottom: 0px
}

#selectedFriendDetails h5 {
  padding-top: 0px;
  margin-top: 0px;
}

.categorySelect {
  width: 80%;
}

#userFriendList {
  height: 80%;
  overflow: scroll;
}

#userFriendsBottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 300px;
  width: 100%;;
}

#userFriendsBottom h3 {
  color: rgb(64, 224, 208);
}

#selectedFriendCategory {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#selectedFriendCategory h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.eventBox {
  color: rgb(64, 224, 208);
  height: 50%;
  width: 100%;
}

.eventDetails {
  display: flex;
  justify-content: space-around;
  color:rgb(217, 217, 217);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
