.App {
  text-align: center;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  position: absolute;
  background-image: url('./images/bricks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  color: rgb(77, 77, 77);
  background-color: rgb(64, 224, 208);
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  border: 0px;
  outline: 0px;
}

button:hover {
  color: rgb(64, 224, 208);
  background-color: rgb(77, 77, 77);
}

#submit {
  color: rgb(77, 77, 77);
  background-color: rgb(64, 224, 208);
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  border: 0px;
  outline: 0px;
}

#submit:hover {
  color: rgb(64, 224, 208);
  background-color: rgb(77, 77, 77);
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5% 0% 5%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(64, 224, 208);
}

.navbarItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.navbarItem h5{
  margin-right: 10px;
}

.navbarItem img {
  margin-right: 10px;
}

#footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(64, 244, 208);
}

#footer nav {
 display: flex;
 color: rgb(64, 244, 208);
}

#footer nav ul {
 display: flex;
 flex-direction: row;
 list-style-type: none;
 color: rgb(64, 244, 208);
}

#footerCopy {
  padding-left: 2%;
}

.footerNav {
  padding-right: 10%;
}

.footerNav i img{
   max-width: 20px;
   max-height: 20px;
   object-fit: cover;
   margin: 0rem 0.4rem;
   color: rgb(64, 244, 208);
 }

 #footerCopy h5{
   margin-top: 0px;
   margin-bottom: 0px;
 }

#loading {
  width: 100%;
  height: 100%;
  background-image: url("./images/loading.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#loading h1 {
  margin-bottom: 0px;
  position: absolute;
  font-size: 500%;
  top: 33%;
  left: 54%;
  z-index: 10;
}

#userContainer {
  display: flex;
  position: absolute;
  justify-content: space-around;
  height: 78%;
  width: 100%;
  margin: 2% 0% 2% 0%;
}

#userSidebar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  width: 18%;
  height: 75%;
  text-align: center;
  justify-content: center;
}

#userEventsList {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.eventList {
  color: rgb(64, 224, 208);
}

.eventList h2 {
  margin-bottom: 0px;
}

.eventList ul {
  background-color: rgb(217, 217, 217);
  border: 2px solid rgba(0, 0, 0, 0.6);
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 1%;
  height: 55%;
  overflow: scroll;
}

.eventList li {
  color: rgb(92, 92, 92);
  padding: 2px 5px 2px 5px;
}

.eventList li:hover{
  background-color: rgb(64, 224, 208);
}

.eventList li:before {
  content: '✓';
}

#upcomingEvents {
  display: inline-block;
  justify-content: center;
  width: 80%;
  height: 100%;
}

#upcomingEvents h3 {
  color: rgb(64, 224, 208);
  border: 2px solid rgb(64, 224, 208);
  padding: 1%;
  margin: 1% -2% 1% -2%;
}

.eventItem {
  color: rgb(217, 217, 217);
}

#userDetailContainer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
}

.otherUsers {
  display: inline-block;
  justify-content: center;
  width: 75%;
  background-color: rgb(217, 217, 217);
  border: 2px solid rgb(77, 77, 77);
}

#otherUsersTwo {
  display: inline-block;
  justify-content: center;
  width: 75%;
  background-color: rgb(217, 217, 217);
  border: 2px solid rgb(77, 77, 77);
}

.friendDashboardList {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 2% 2% 2% 2%;
}

.friendDashboardListImg {
  margin-right: 5%;
}

.friendDashboardStatus {
  display: inline;
  text-align: center;
  color: rgb(77, 77, 77);
}

.friendDashboardStatus h5 {
  margin: 0px;
  padding-bottom: 0px;
}

#login {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 7%;
  color: rgb(64, 224, 208);
}

#login h1 {
  margin-top: 2%;
}

#loginForm {
  display: flex;
  justify-content: space-around;
  margin-top: 1.5%;
}

.loginInput {
  width: 35%;
}

.signupInput {
  width: 13%;
}

#login button {
  margin-top: 1%;
}

#signup {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
    height: 7%;
    color: rgb(217, 217, 217);
}

#signup h1 {
  margin-top: 1%;
}

#userOptionsContainer {
  display: flex;
  justify-content: space-around;
}

#friendDashboard {
  height: 600px;
  width: 100%;
  text-align: center;
}

#friendDashboard h3 {
  margin-bottom: 0px;
  padding-bottom: 0px
}

#userFriendsTop {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
  color: rgb(64, 224, 208);
  vertical-align: middle;
}

#bubbleChart {
  width: 50%;
}

#selectedFriendContainer {
  width: 50%;
}

#text {
  vertical-align: middle;
}

#selectedFriend {
  display: flex;
  justify-content: center;
}

#selectedFriendImage{
  width: 100px;
  height: 100px;
}

#selectedFriendImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#selectedFriendDetails {
  color: rgb(64, 224, 208);
  margin-left: 2%;
}

#preSelectedFriend {
  margin-top: 10%;
}

#preSelectedFriend h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#preSelectedFriend h4 {
  padding-top: 0px;
  margin-top:0px;
}

#selectedFriendDetails h4 {
  padding-bottom: 0px;
  margin-bottom: 0px
}

#selectedFriendDetails h5 {
  padding-top: 0px;
  margin-top: 0px;
}

.categorySelect {
  width: 80%;
}

#userFriendList {
  height: 70%;
  overflow: scroll;
}

#userFriendsBottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
  height: 300px;
  width: 100%;;
}

#userFriendsBottom h3 {
  color: rgb(64, 224, 208);
}

#selectedFriendCategory {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#selectedFriendCategory h4 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.eventBox {
  color: rgb(64, 224, 208);
  height: 50%;
  width: 100%;
}

.eventDetails {
  display: flex;
  justify-content: space-around;
  color:rgb(217, 217, 217);
}

#userAvatarImage {
  width: 250px;
  height: 250px;
  margin-top: 5%;
}

#userAvatarImage > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#dateTimeContainer {
  display: flex;
  justify-content: space-around;
}

#friendInviteContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#friendInviteContainer h3 {
  margin-bottom: 0px;
}

#dateTimeContainer h3 {
  margin-bottom: 0px;
}

#formCategory {
  display: flex;
  width: 100%;
}

#formCategory h4{
  margin-top: 0px;
  margin-bottom: 0px;
}

.formCategorySelect {
  margin: 0px;
  width: 100%;
}

.formCategorySelectOption {
  width: 80%;
}

#BubbleInvite {
  width: 50%;
  margin-right: 2%;
}

#SpecificInvite {
  display: inline-block;
  width: 50%;
  margin-left: 2%;
}

.form {
  color: rgb(64,224, 208);
}

.form h1 {
  margin-bottom: 0px;
}

.formButton {
  margin-top: 2%;
  font-size: 2em;
}

.formFields {
  display: flex;
  justify-content: space-around;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.colors-on {
  text-shadow: none;
  -webkit-animation: colors-on 4.5s forwards 1s;
  -moz-animation: colors-on 4.5s forwards 1s;
  animation: colors-on 4.5s forwards 1s;
  -webkit-animation: colors-on 1.5s ease-in-out infinite alternate;
  -moz-animation: colors-on 1.5s ease-in-out infinite alternate;
  animation: colors-on 1.5s ease-in-out infinite alternate;
  color: rgb(64, 224, 208);
  padding-left: 4px;
}

@keyframes colors-on {
  from {
    text-shadow: none;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #666cec, 0 0 20px #cccef8, 0 0 35px #cccef8, 0 0 40px #cccef8, 0 0 50px #cccef8, 0 0 75px #cccef8;
  }
}

.noEventfulContainer {
  color: rgb(64, 224, 208);
  margin-top: 20%;
}

.noEventfulContainer h1 {
  margin-bottom: 0px;
}

.noEventfulContainer h3 {
  margin-top: 0px;
}

.eventfulContainer {
  color: rgb(64, 224, 208);
}

.eventfulContainer h5 {
  margin-bottom: 0px;
}

.eventfulContainer h1 {
  margin-top: 0px;
}

#eventfulMap iframe{
  width: 70%;
  height: 300px;
}

#eventfulDetails h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.eventfulContainer span {
  color: rgb(217, 217, 217)
}

#eventfulEventSpecs {
  display: flex;
  justify-content: center;
}

.Button {
  text-decoration: none;
  color: rgb(77, 77, 77);
  background-color: rgb(64, 224, 208);
  padding: 1%;
}

.Button:hover {
  color: rgb(64, 224, 208);
  background-color: rgb(77, 77, 77);
}

#eventfulEventSpecs h3{
  margin-left: 2%;
  margin-right: 2%;
}

#eventInvitationsLists {
  display: flex;
  justify-content: space-around;
}

#categoryFriends {
  height: 100%;
}

#categoryfriends h1{
  margin-bottom: 0px
}

#categoryfriends h3{
  margin-top: 0px;
  text-transform: capitalize;
}

#userCategoryFriendsList {
  height: 100%;
  overflow: scroll;
}

.categoryEventList {
  display: flex;
  justify-content: center;
  height: 1000px;
  overflow: scroll;
}

.categoryEventList ul {
  background-color: rgb(217, 217, 217);
  border: 2px solid rgba(0, 0, 0, 0.6);
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 1%;
  height: 20%;
  overflow: scroll;
}

.categoryEventList li {
  color: rgb(92, 92, 92);
  padding: 2px 5px 2px 5px;
}

.categoryEventList li:hover{
  background-color: rgb(64, 224, 208);
}

.categoryEventList li:before {
  content: '✓';
}
